<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.escoglobal.miritlpatient">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

   

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ivfprocess.processone"
            android:screenOrientation="landscape"/>
        <activity android:name=".ivfprocess.processtwo"
            android:screenOrientation="landscape"/>
        <activity android:name=".ivfprocess.processthree"
            android:screenOrientation="landscape"/>
        <activity android:name=".ivfprocess.processfour"
            android:screenOrientation="landscape"/>
        <activity android:name=".ivfprocess.processfive"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmbryoIncubationActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmbryoClassificationActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmbryoCtwo"
            android:screenOrientation="landscape"/>
        <activity android:name=".VideosActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".ConventionalIVFActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".EmbryoTimeLapseActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>